<!DOCTYPE html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="../../favicon.ico">
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<!-- Custom stylings --> 
<link rel="stylesheet" href="../styles/dialog.css">
<link rel="stylesheet" href="../styles/adminStyle.css">
<script src="../../assets/js/ie-emulation-modes-warning.js"></script>
</head>

<body>
<div id="wrapper">
    <p class="welcomeMessage">
        Administrator <strong><%= user.username %> </strong>
    </p>
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
            <p class="user"> Navigation Options</p>
            </li>
            <li>
            <a href="/">Home</a>
            </li>
            <li>
            <a href='/logout'> Logout</a>
            </li>
        </ul>
    </div>
    <div class="options">
        <h3 class="optionsHeader"> Please choose from the following options</h3>
        <button class="optionsButton" onclick="location.href='/addDevice'" id="addDevice"> Add a Device </button>
        <button class="optionsButton" onclick="location.href='/removeDevice'" id="remDevice"> Remove a Device </button>
        <button class="optionsButton" onclick="location.href='/modifyDevice'" id="modDevice"> Modify the device details </button>
    </div>
</div>


<!-- Bootstrap core JavaScript
                            === === === === === === === === === === === === === === === === == -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/views/dialog.js"></script>  
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>
window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')
</script>
<script src="../../dist/js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>
