<!DOCTYPE html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="../../favicon.ico">
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<!-- Custom stylings -->
<link rel="stylesheet" type="text/css" href="../styles/devCatStyle.css">
<link rel="stylesheet" href="../styles/logOutButton.css">
<link rel="stylesheet" href="../styles/popupS.min.css">
<link rel="stylesheet" href="../styles/dialog.css">
<link href="../styles/simpleSideBar.css" rel="stylesheet">
<!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
<!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
<script src="../../assets/js/ie-emulation-modes-warning.js"></script>
<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->
<p class="welcomeMessage">
Welcome <strong><%= user.username %> </strong>
</p>
<div class="logOutForm">
    <form method="get" action="/logOut">
        <button class="logOutButton" type="submit" name="logOut"> Logout </button>
    </form>
</div>
</head>

<body>

<div class="inner-cover">
    <h1 class="cover-heading">Search for available devices </h1>
    <button type="button" class="btn btn-lg btn-default-outline" onclick="location.href = '/ipadsPage';"> Ipads </button>
    <button type="button" class="btn btn-lg btn-default-outline" onclick="location.href = '/iPodsOrIPhonesPage';"> Ipods/Iphones </button>
    <button type="button" class="btn btn-lg btn-default-outline" onclick="location.href = '/androidPhonesPage';"> Android Phones </button>
    <button type="button" class="btn btn-lg btn-default-outline" onclick="location.href = '/androidTabletsPage';"> Android Tablets </button>
    <button type="button" class="btn btn-lg btn-default-outline" onclick="location.href = '/mozillaOrAmazonPage';"> Mozilla/Amazon Phones </button>
    <button type="button" class="btn btn-lg btn-default-outline" onclick="location.href = '/amazonTabletsPage';"> Amazon Tablets </button>
    <button type="button" class="btn btn-lg btn-default-outline" onclick="location.href = '/windowsPage';"> Windows </button>
</div>
<div class="checkOut">
    <form id="checkOutForm" action="/" method="POST">
        <p class="swipeInstruction"> Please scan your device to enter it's ID for check out </p>
        <input type="text" class="form-control" id="checkOutIdInput" name="checkOutId" autofocus="true" style="height:35px;width:300px; left:410px; bottom:340px;position:fixed;" required="true">
        <button class="checkOutButton" onclick='getDeviceName("checkOutIdInput", "checkOutForm","true")' type="button"> Checkout Device </button>
    </form>
</div>
<div id="dialogoverlay"></div>
<div id="dialogbox">
    <div>
        <div id="dialogboxhead"></div>
        <!--   <div id="dialogboxbody"></div> -->
        <div id="dialogboxfoot"></div>
    </div>
</div>

<!-- Bootstrap core JavaScript
                            === === === === === === === === === === === === === === === === == -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/views/dialog.js"></script>  
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>
window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')
</script>
<script src="../../dist/js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>
